h1 {
    color: rgb(102, 140, 127);
    font-size: 50px;
    font-family: Times;
    padding: 10px;
    border: 2px solid rgb(102, 140, 127);
    margin: 15px;
    text-align:center;

}


ul {
    color: rgb(181,136,152);
    font-size: 15px;
    font-family: Times;
    padding: 10px;
    border: 2px solid rgb(181,136,152);
    margin: 15px;
    background-color: white;
}

h2 {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(206, 223, 217);
    padding: 10px;
    margin: 15px;
}

img {
    color: white;
    font-size: 12px;
    font-family: Times;
    padding: 3px;
    background-color: rgb(102, 140, 127);
    border: 2x rgb(102, 140, 127);

}

figcaption {
    color: rgb(102, 140, 127);
    font-style: italic;
    padding: 2px;
  }


h3 {
    color: black;
    font-size: 30px;
    padding: 2px;
    font-family: Times;
    text-align: center;
}

h4 {
  text-align: center;
  font-size: 25px;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }

a:hover {
    color: blue;
  }

  .image {
    text-align: center;
    padding: 3px;
  }